
.container {
    max-width: 100%;
    margin : 0;
}
#wpforms-submit-551 {
    margin-left: 90%;
    width: 200px;
    z-index:20 ;
    text-transform: initial;
    font-size: 20px;
    font-weight: 400;
}
#wpforms-submit-551:hover {
    background-color: #C02E44;
}
#wpforms-submit-689 {
    display: none;
}
#wpforms-submit-580 {
    display: none;
}
.custom-logo {
    padding-left: 50px;
}

#wpforms-483-field_1-container {
    padding-left: 400px;

}
#wpforms-483-field_2-container {
    padding-left: 400px;
  
}
#wpforms-483-field_4-container {
    padding-left: 400px;
    width: 90%;

}

#wpforms-551-field_2 {
    height: 70px;
}
#wpforms-551-field_3 {
    height: 70px;

}
#wpforms-551-field_4 {
    height: 70px;

}
#wpforms-580-field_1 {
    height: 70px;

}

#wpforms-580-field_3 {
    height: 70px;

}
#wpforms-580-field_2 {
    height: 70px;

}
#menu-item-216 {
    background-color: #D2776A;
    
}
#menu-item-216:hover {
    background-color: #C02E44;
}

#menu-item-216 .text-wrap {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 30px;
}   
.wpforms-submit-container #wpforms-submit-483 {
    margin-left: 580px;
}
#wpforms-submit-483:hover {
background-color: #C02E44;
}
#wpforms-483-field_1 {
    height: 70px;
    width: 70%;
}
#wpforms-483-field_2 {
    height: 70px;
    width: 70%;
}
#wpforms-483-field_4 {
    height: 140px;
    width: 84%;
}
#wpforms-form-483 {
    padding-left: 50px;
}
div.wpforms-container-full .wpforms-field-label {
    font-weight: normal;
}

#wpforms-submit-551 {
    font-weight: 100;
}
#footer-bottom.no-footer-nav #copyright {
    font-size: 20px;
    margin-left: 100px;
}




@media (max-width: 768px) {

    #wpforms-submit-551 {
    display: none;
}
    #wpforms-submit-689 {
    display: block;
    }
    #wpforms-submit-580.wpforms-submit {
    display: block;
    margin-left: 25%;
    color: white;
    background-color: #E0B9B4;
    border-radius: 10%;
    text-transform:initial;
    padding: 10%;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
    #wpforms-submit-580:hover {
    background-color: #C02E44;
}
    .elementor-16 .elementor-element.elementor-element-52793d7 .elementor-heading-title {
    text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-312d1c2 .elementor-heading-title {
    text-align: center;
  
    }
    h2.wp-block-heading {
        font-size: 30px;
    }
    #wpforms-483-field_1 {
        width: 80%;
    }

    #wpforms-483-field_2 {
        width: 80%;
    }
    #wpforms-483-field_4 {
        width: 97%;
    }

}
